body {
    background: black;
    font-size: 10em;
    color: #8CC5C4;
}
p {
    font-size: 10px;
    color: #E2D2AB;
}

.header {
    height: 25%;
    border: solid 1px red;
}

.timeline_container {
    height: 25%;
    border: solid 1px red;
}

.info_blocks {
    height: 50%;
    border: solid 1px red;
}

.row div {
    border: solid 1px red;
}