body {
    background: black;
    font-size: 10em;
    color: #8CC5C4;
}
p {
    font-size: 10px;
    color: #E2D2AB;
}

.header {
    height: 25%;
    border: solid 1px red;
}

.timeline_container {
    height: 25%;
    border: solid 1px red;
}

.info_blocks {
    height: 50%;
    border: solid 1px red;
}

.row div {
    border: solid 1px red;
    height: 100%;
}
.background_top {
    width: 100%;
    height: 25%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 0%), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 0%), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 0%), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 0%), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 0%), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    height: 200px;
    position: absolute;
    z-index:-1;
    top:0;
}
.background_bottom {
    width: 100%;
    height: 50%;
    background:blue; 
    position: absolute;
    z-index:-1;
    bottom:0;
}