body {
    background: black;
    font-family: 'Rajdhani', sans-serif;
    color: #E2D2AB;
}

h1, h2, h3, h4, h5 {
    color: #8CC5C4;
}

h1 {
    font-size: 3em;
}

.border_gradient {
    background-image: -webkit-gradient(linear, left, right, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );    
}

.timeline_container {
    height: 25%;
    margin-top:30px;
}

.info_blocks {
    height: 50%;
    margin-top:20px;
}

/* Text block gradient border and center black */
.text_block {
    background-image: -webkit-gradient(linear, left, color-stop(0.33, rgb(226,210,171) ), color-stop(0.67,  rgb(140,197,196)));
    background-image: -moz-linear-gradient(left, rgb(226,210,171) 33%, rgb(140,197,196) 67% );
    padding: 2px; 
    border-radius: 5px;
}
.text_block > div { 
    background: black; 
    border-radius:5px;
    padding:5px;
}

.background_top {
    /* Backgronud image gradient solution: https://stackoverflow.com/questions/16589519/use-css-gradient-over-background-image */
    width: 100%;
    height: 25%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background-size: 20%;
    position: absolute;
    z-index:-1;
    top:0;
}
.background_bottom {
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/dots-grid-design-by-Vexels.svg') repeat;
    background-size: 20%;
    position: absolute;
    z-index:-1;
    bottom:0;
}
/* Animate the logo. Code with help from: http://jsfiddle.net/gionaf/Ugc5g/ */
.logo {
    position:relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo img {
    position: absolute;
    width: 50px;
    height: 50px;
}

.logoA {
    z-index:3;
}

.logoB {
    z-index:2;
    -webkit-animation:spinB 4s linear infinite;
    -moz-animation:spinB 4s linear infinite;
    animation:spinB 4s linear infinite;
}

.logoC {
    z-index:1;
    -webkit-animation:spinC 4s linear infinite;
    -moz-animation:spinC 4s linear infinite;
    animation:spinC 4s linear infinite;
}

@-moz-keyframes spinB { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinB { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinB { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-moz-keyframes spinC { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinC { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinC { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }