<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="description" content="xxx">
    <meta name="keywords" content="xxx">
    <meta name="author" content="Adriaan Odendaal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Timeline-->
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="/static/css/timeline/style.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="popup">
    <div class="popup_background"></div>
    <div style="display:flex; justify-content:center">
        <div class="popup_box"><div class="popup_box_inner ">
            <div class="logo containerTV" style="margin-top:auto; margin-bottom:auto; width:250px; height:250px;">
                <img class = "logoA screen" style="width:250px; height:250px;" src = "/static/imgs/logoA.svg">
                <div class="containerTV" style="position:revert;">
                <img class = "logoB screen" style="width:250px; height:250px;" src = "/static/imgs/logoB.svg">
              </div>
              <div class="containerTV" style="position:revert;">
                <img class = "logoC screen" style="width:250px; height:250px;" src = "/static/imgs/logoC.svg">
                </div>
            </div>
            <div>
                <h2>What does the future look like</h2>
                <em id="popup_prompt" class='cd-h-timeline__event-date'>...if all goes according to plan?</em>
                <form action="/prompt" method="post" id="usrform">
                    <textarea id="answer" rows="4" cols="50" name="answer" form="usrform"></textarea>
                    <label>Year predicting</label>
                    <div class='number-wrapper'>
                        <input id="numberpicker" type="number" name="numberpicker" min="2020" placeholder="2020" value="2020" />
                        <div id="picker-buttons">
                          <div id="inc-button" class="spinner-button">+</div>
                          <div id="dec-button" class="spinner-button">-</div>
                        </div>
                    </div>
                  <input id="submit_button" type="submit" value="Predict">
                </form> 
            </div>
        </div></div>
    </div>
  </div>
  <div class="containerTV">
    <div class="background_top"></div>
    <div class = "container">
        <div class ="header">
            <div class ="row"> 
                <div class="col-md-1">
                    <div class="logo">
                        <img class = "logoA" src = "/static/imgs/logoA.svg">
                        <img class = "logoB" src = "/static/imgs/logoB.svg">
                        <img class = "logoC" src = "/static/imgs/logoC.svg">
                    </div>
                </div>
                <div class="col-md-11">
                    <h1 style="margin-bottom:0.5em;"><span style="font-weight:bolder; color:#e2d2ab;">Imaginary Futures:</span> Yesterday's Vision Of Tomorrow</h1>
                </div>
            </div>
            <div class = "text_block">
              <div style="text-align: center;">
                See what the movies, books, and other media of yesterday predicted about the future.
            </div>
            </div>
        </div>
        <div class = "timeline_container">
          <p class="strip_gradient">||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</p>
                <section class="cd-h-timeline js-cd-h-timeline margin-bottom--md">                    
                        <div class="cd-h-timeline__container container">
                          <div class="cd-h-timeline__dates">
                            <div class="cd-h-timeline__line">
                              <ol id="timeline_list">
                                <!-- READ data from app.py -->
                                {% for entry in queryResults %}
                                <li>
                                  <a href="#0" onclick="postDataToFlask({{ entry['Year']}})" data-date="01/01/{{ entry['Year'] }}" class="cd-h-timeline__date ">
                                    <div class="second-circle"></div>
                                    <div class="bracket_left"><p>{{ entry['Year'] }}</p><img src="/static/imgs/bracket_left.svg"></div>
                                  </a>
                                </li>
                               {% endfor %}
                              </ol>
                    
                              <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
                            </div> <!-- .cd-h-timeline__line -->
                          </div> <!-- .cd-h-timeline__dates -->
                            
                          <ul>
                            <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">
                              <i style="opacity:0.3;" class="fa fa-chevron-left"></i>
                              <i style="opacity:0.6;"  class="fa fa-chevron-left"></i>
                              <i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--next">
                              <i  class="fa fa-chevron-right"></i>
                              <i style="opacity:0.6;"  class="fa fa-chevron-right"></i>
                              <i style="opacity:0.3;" class="fa fa-chevron-right"></i></a></li>
    
                          </ul>
                        </div> <!-- .cd-h-timeline__container -->
                        <p class="strip_gradient_bottom strip_gradient">||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</p>
                        <div class="cd-h-timeline__events">
                          <ol>
                            <li id="modal_left" class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
                              <!-- <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Horizontal Timeline</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div> -->
                            </li>
                    
                            <li id="modal_right" class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <!-- <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                            <li class="cd-h-timeline__event text-component">
                                <div class="cd-h-timeline__event-content container">
                                  <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                  <em class="cd-h-timeline__event-date">xxx</em>
                                  <p class="cd-h-timeline__event-description text--subtle"> 
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                                </div>
                              </li>
                              <li class="cd-h-timeline__event text-component">
                                  <div class="cd-h-timeline__event-content container">
                                    <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                    <em class="cd-h-timeline__event-date">xxx</em>
                                    <p class="cd-h-timeline__event-description text--subtle"> 
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                    </p>
                                  </div>
                                </li>
                                <li class="cd-h-timeline__event text-component">
                                    <div class="cd-h-timeline__event-content container">
                                      <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                      <em class="cd-h-timeline__event-date">xxx</em>
                                      <p class="cd-h-timeline__event-description text--subtle"> 
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                      </p>
                                    </div>
                                  </li>
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">xxx</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">January 29th, 2015</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li>
                    
                            <li class="cd-h-timeline__event text-component">
                              <div class="cd-h-timeline__event-content container">
                                <h2 class="cd-h-timeline__event-title">Event title here</h2>
                                <em class="cd-h-timeline__event-date">March 3rd, 2015</em>
                                <p class="cd-h-timeline__event-description text--subtle"> 
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                </p>
                              </div>
                            </li> -->
                          </ol>
                        </div> <!-- .cd-h-timeline__events -->
                      </section>

        </div>
        <div class = "info_blocks">
            <div class = "row">
                <div class = "col-md-2">
                    <!-- <h1>/Thing 1/</h1> -->
                    <!-- https://codepen.io/thebabydino/pen/wsxpE
                    https://codepen.io/kappeh/pen/eWKLbY -->
                    <!-- https://codepen.io/jotavejv/pen/pfFik
                    https://codepen.io/ishaanpuniani/pen/eigfv
                    https://codepen.io/mikehobizal/pen/jEyxYV
                    https://codepen.io/chasekaiser/pen/ogXmOK
                    https://codepen.io/Octavector/pen/dGBKJB -->
                </div>
                <div class = "col-md-8">
                    <!-- Info Blocks -->
                </div>
                <div class = "col-md-2">
                    <!-- <h1>/Thing 2/</h1> -->
                </div>
            </div>
        </div>
    </div>
    <div class="background_bottom"> </div>
    <script type="text/javascript" src="/static/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script type="text/javascript" src="/static/js/swipe-content.js"></script> <!-- A Vanilla JavaScript plugin to detect touch interactions -->
    <script type="text/javascript"  src="/static/js/main.js"></script>
  </div>
</body>

<script>
</script>


</html>